<h1>プライバシーポリシー</h1>
１．個人情報の取得について<br>
　　偽りその他不正の手段によらず適正に個人情報を取得致します。<br>
２．個人情報の利用について<br>
　　個人情報を当サービスの運営に必要な範囲内で利用致します。<br>
３．個人情報の安全管理について<br>
　　取り扱う個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。<br>
４．個人情報の第三者提供について<br>
　　個人情報保護法等の法令に定めのある場合を除き、個人情報をあらかじめご本人の同意を得ることなく、第三者に提供致しません。<br>
５．本方針の変更<br>
　　本方針の内容は変更されることがあります。<br>

