<h1>このサイトについて</h1>
お題をあてるゲームです。<br>
参加者全員に役職が配られます。<br>
GMは、お題を知っている人です。<br>
村役職は、GMに質問することでお題を推測し、<br>
最終的にお題を当てます。<br>
GMは、質問に対し、「はい」「いいえ」「どちらでもない」しか答えることが出来ません。<br>
ゲーム参加者には、内通者と言われるお題を知っている人が<br>
紛れ込んでいます。<br>
内通者は、村役職がお題を当てることを支援します。<br>
お題を当てたあと、内通者を探すゲームが行われ、<br>
内通者を発見することで、村役職は勝利します。<br>
<br>
・闇落ちモード実装するかも・・・（GMが自由にお題を決める）
